.orders-list {
    display: grid;
    grid-template-areas: "toolbar"
    "list";
    gap: 2px;
    grid-template-rows: auto 1fr;
}
.orders-toolbar-container {
    grid-area: "toolbar";
    border: var(--element-border-style);
    max-width: auto;
    display: block;
}

.orders-list-container {
    grid-area: "list";
    border: var(--element-border-style);
}

orders-boards {
}

.select {
    max-width: fit-content;
    display: inline-block;
}