.orders-list {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 2px;
    grid-template-rows: auto 1fr;
}
.orders-toolbar-container {
    border: var(--element-border-style);
    max-width: auto;
    display: block;
}

.orders-list-container {
    border: var(--element-border-style);
    display: block;
    flex-direction: row;
    overflow: auto;
}

orders-boards {
}

.select {
    max-width: fit-content;
    display: inline-block;
}