.workcenter {
    position:absolute;
    border: var(--element-border-style);
    border-radius: 1em;
    min-height: max-content;
    display: inline-block;
    padding: 2px;
    width: 13em;
}
.workcenter-heavy-indicator{
    width: 2em;
    height: 2em;
    border-radius: 1em;
    background-color: green;
    float: left;
}
