.order-container {
    border: var(--element-border-style);
    display: grid;
    position: relative;
    grid-template-areas: 
    "order-number   order-number    order-contract order-promise"
    "order-priority order-customer  order-contract order-promise"
    "order-products order-products  order-products order-products";
    grid-template-columns: auto auto auto auto;
    max-width: max-content;
    max-height: min-content;
    padding: 2px;
    gap: 2px;
}
.order-toolbar{
    display: inline-block;
    position: absolute;
    opacity: 0.9;
    transition: left .75s;
    left:-100vw;
    overflow: hidden;
}
.order-error-container{
    display: block;
    position: absolute;
    z-index: 100;
    right: 0;
    left: 0;
    margin-left: auto; 
    margin-right: auto; 
}
.order-toolbar.show{
    left: 0;
}
.order-products {
    grid-area: order-products;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: auto auto 1fr auto auto auto;
    gap: 2px;
    font-size: smaller;
}

.order-products > span {
    border-right: var(--element-border-style);
    border-top: var(--element-border-style);
    padding: 1px;
}

.order-customer {
    grid-area: order-customer;
}
.order-priority {
    grid-area: order-priority;
}

.order-number {
    font-size: x-large;
    font-weight: bold;
    grid-area: order-number;
    cursor: pointer;
}
.order-contract {
    grid-area: order-contract;
}
.order-promise {
    grid-area: order-promise;
}

.order-product-header {
    font-weight: bold;
    text-align: center;
}
